## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [28]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/sears/Desktop/BootCamp/World_Weather_Analysis/Weather_Database/WeatherPy_DataBase.csv")
city_data_df.head()

,City,City.1,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Impfondo,CG,1.6381,18.0667,73.17,80,100,2.28,overcast clouds
1,1,Cape Town,ZA,-33.9258,18.4232,57.11,90,43,8.01,light rain
2,2,Mindelo,CV,16.8901,-24.9804,78.35,78,40,9.22,scattered clouds
3,3,Kapaa,US,22.0752,-159.3190,84.18,77,100,13.80,overcast clouds
4,4,Kavieng,PG,-2.5744,150.7967,82.40,72,100,3.74,overcast clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,City.1,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Impfondo,CG,1.6381,18.0667,73.17,80,100,2.28,overcast clouds
2,2,Mindelo,CV,16.8901,-24.9804,78.35,78,40,9.22,scattered clouds
3,3,Kapaa,US,22.0752,-159.3190,84.18,77,100,13.80,overcast clouds
4,4,Kavieng,PG,-2.5744,150.7967,82.40,72,100,3.74,overcast clouds
7,7,Albany,US,42.6001,-73.9662,73.38,74,16,5.77,few clouds
8,8,Butaritari,KI,3.0707,172.7902,81.82,75,10,13.94,clear sky
11,11,Praia,CV,14.9215,-23.5087,81.14,78,75,2.30,broken clouds
12,12,Acapulco,MX,16.8634,-99.8901,84.02,74,100,4.61,overcast clouds
13,13,Abu Kamal,SY,34.4506,40.9171,83.32,40,0,11.68,clear sky
18,18,Rikitea,PF,-23.1203,-134.9692,73.94,80,100,16.71,overcast clouds

In [31]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                   318
City.1                 318
Country                318
Lat                    318
Lng                    318
Max Temp               318
Humidity               318
Cloudiness             318
Wind Speed             318
Weather Description    318
dtype: int64

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [42]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City.1", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""


hotel_df.reset_index(drop=True, inplace=True)

hotel_df.rename(columns = {'City.1':'City'}, inplace = True)
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Impfondo,CG,73.17,overcast clouds,1.6381,18.0667,
1,Mindelo,CV,78.35,scattered clouds,16.8901,-24.9804,
2,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,
3,Kavieng,PG,82.40,overcast clouds,-2.5744,150.7967,
4,Albany,US,73.38,few clouds,42.6001,-73.9662,
5,Butaritari,KI,81.82,clear sky,3.0707,172.7902,
6,Praia,CV,81.14,broken clouds,14.9215,-23.5087,
7,Acapulco,MX,84.02,overcast clouds,16.8634,-99.8901,
8,Abu Kamal,SY,83.32,clear sky,34.4506,40.9171,
9,Rikitea,PF,73.94,overcast clouds,-23.1203,-134.9692,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.tail(10)

,City.1,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
308,Kisangani,CD,70.86,broken clouds,0.5167,25.2000,Grand Ramela Hotel
309,Mandiana,GN,72.18,moderate rain,10.6333,-8.6833,Centre d'accueil de Mandiana
310,Nisia Floresta,BR,77.38,clear sky,-6.0911,-35.2086,Rancho Crepusculo
311,Alamosa,US,75.18,clear sky,37.4695,-105.8700,Best Western Alamosa Inn
312,Mitsamiouli,KM,75.54,few clouds,-11.3847,43.2844,Foyer ADM
313,Saint Charles,US,75.49,clear sky,38.7667,-90.7335,Hilton Garden Inn St. Louis/O'Fallon MO
314,Bull Savanna,JM,77.41,overcast clouds,17.8868,-77.5902,Big Red's
315,Hangu,CN,75.24,clear sky,39.2489,117.7892,Chongli Xuexiang Family Express Inn
316,Shubarkuduk,KZ,72.45,clear sky,49.1447,56.4872,Sirius
317,Orocue,CO,75.34,overcast clouds,4.7912,-71.3354,Hotel Brisas de San Miguel

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [46]:

# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))